* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #E3FDFD;
  font-family: sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.todos {
  padding: 100px 0 0;
}

.todos__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.todos__input {
  width: 300px;
  padding: 15px;
  background-color: #CBF1F5;
  color: #222831;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}
.todos__input::-webkit-input-placeholder {
  color: #222831;
}
.todos__input::-moz-placeholder {
  color: #222831;
}
.todos__input:-ms-input-placeholder {
  color: #222831;
}
.todos__input::-ms-input-placeholder {
  color: #222831;
}
.todos__input::placeholder {
  color: #222831;
}

.todo__form_btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border: 3px solid #222831;
  border-radius: 5px;
}

.todos__form_icon {
  width: 100%;
  height: 100%;
}

.todos__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todos__list_box {
  width: 30%;
}

.todos__list_info {
  text-align: left;
  margin-bottom: 20px;
  color: #112D4E;
  font-size: 30px;
}

.todos__list {
  border-radius: 20px;
  padding: 30px 20px;
  width: 100%;
  height: 500px;
  background-color: #71C9CE;
  overflow: auto;
}

.todos__item {
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00ADB5;
  border-radius: 15px;
}

.todos__list_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.todos__list_next_btn,
.todos__list_edit_btn,
.todos__list_delete_btn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.todos__edit_icon,
.todos__next_icon,
.todos__delete_icon {
  width: 100%;
  height: auto;
}

.todos__list_text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.edit__section {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.edit__section.show__edit_section {
  opacity: 1;
  visibility: visible;
}

.edit__box {
  border-radius: 15px;
  position: relative;
  width: 550px;
  background-color: #fff;
  padding: 50px 40px;
}

.edit__btn--x {
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
}
.edit__btn--x img {
  width: 100%;
}

.edit__box--title {
  font-size: 35px;
  margin-bottom: 20px;
}

.edit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.edit__form--input {
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 6px;
}

.edit__form--btn {
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  border: navajowhite;
  border-radius: 6px;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */